/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ###################### */

body > * {
  font-family: sans-serif;
  background-color: #658864;
  height: 100vh;
  width: 100vw;
  color: #dddddd;
}

#siteNav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px 0px;
  border: 1px solid black;
}

#siteNav > * {
  padding: 2px 5px;
  border: 1px solid black;
  margin: 0px 5px;
  border-radius: 4px;
  font-size: 1.2rem;
}

#siteNav > *:hover {
  cursor: pointer;
}

#aboutContainer,
#menuContainer {
  text-align: center;
  padding: 5px 0px;
}

#aboutContainer > h1,
#menuContainer > h1 {
  margin-top: 10px;
  font-size: 2rem;
  width: 100%;
  font-weight: bold;
}

#aboutBurger {
  width: 50vw;
  max-width: 600px;
  min-width: 200px;
  min-height: 200px;
  margin: 10px;
  border-radius: 25px;
  object-fit: cover;
}

#burgerBlurbWrapper {
  display: flex;
  text-align: left;
}

#menuWrapper {
  padding-top: 50px;
}

#menuItems {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid black;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 20px;
  background-color: #475f46;
}

.menuName {
  font-size: 1.3em;
  font-weight: bold;
}

.menuPrice {
  font-size: 0.9em;
}

.menuItem {
  padding-bottom: 50px;
}

.menuItem:first-of-type {
  padding-top: 50px;
}

.menuName,
.menuPrice {
  margin-bottom: 5px;
}

ul#burgerFacts {
  font-size: 1.2rem;
  margin-right: 2vw;
}

#burgerFacts > li {
  text-align: left;
  list-style-type: circle;
  margin-left: 20px;
  font-size: 1rem;
}

#burgerFacts > li:first-of-type {
  padding-top: 15px;
}

#burgerFacts {
  margin-top: 25px;
}

.nav-button {
  background-color: #b7b78a;
  color: black;
}

.nav-item-selected {
  background-color: #b7b75d !important;
}
